# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Variables (contains sensitive data)
*.tfvars
*.tfvars.json
*.auto.tfvars

# SSH / OCI key
*.pem
*.ppk
*.pub

# Bastion session cache
.bastion_session.json

# OS
.DS_Store
Thumbs.db
